.image-metadata-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Disposizione verticale */
    width: 100%;
    height: 100%;
    overflow: auto;
}

.metadata-grid-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
}

.selected-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Spazio tra il testo e l'immagine */
}

.selected-image-text {
    font-size: 24px;
    color: #e6a40e;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-right: 10px;
    text-align: center;
}

.selected-image-value {
    font-weight: bold;
    font-size: 28px;
    color: #000000;
    background-color: #ffffff;
    padding: 5px 10px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image-in-details {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto; /* Centra l'immagine */
}
